/*Sommaire
Header
	.logo


Contenue
Footer


*/

.flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

body{
	background-color: rgba(0, 0, 0, 0.8);
	background-size: cover;
	margin: 20px;
	color: white;
}

img{
	width: 100%;
}

/*Header*/

header{
	border-bottom: 2px solid #AD38A9;
	align-items: center;
}

header>.logo{
	width: 140px;
	height: 140px;
	font-size: 0.8em;
	border: 2px solid #AD38A9;
	border-radius: 50%;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.72);
}

header>.logo>div{
	height: 80px;
	width: 100px;
}

header>.logo>h1{
	font-size: 20px;
	margin: 0;
}

header>.lecteur{
	width: 92%;
}

audio{
	width: 100%;
}

.lecteur>.infosLecteur{
	padding: 0px 16px;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.72);
}

.lecteur>.infosLecteur>span>a>.telecharger{
	width: 45px;
}



/*Contenue*/

/*Podcast*/

/*Show*/

.podcast>.show{
	width: 40%;
	padding: 20px;
	border: 2px solid #ddd;
}

.podcast>.show>.leftShow{
	width: 50%;
}

.podcast>.show>.leftShow>.imgPod{
	width: 320px;
}

.podcast>.show>.leftShow>.imgPod>img{
	border-radius: 10%;
}

.podcast>.show>.rightShow{
	width: 50%;
}

/*Informations*/

.podcast>.infos{
	padding: 20px;
	width: 55%;
	font-size: 1.2em;
	border: 2px solid #ddd;
}

.podcast>.infos>table>tbody>tr>td{
	padding: 6px;
}


/*List*/

.podList{
	width: 40%;
	height: 1000px;
	padding: 20px;
	border: 2px solid #ddd;
	overflow: auto;
}

.podList>.pod{
	width: 320px;
	font-size: 12px;
	margin: 20px;
}

.podList>.pod>div>img{
	border-radius: 10%;
}

/*Playlist*/

.playlist{
	width: 55%;
	padding: 20px;
	font-size: 1.2em;
	background-color: rgba(0, 0, 0, 0.8);
}

.playlist>.audioList{
	overflow: auto;
}

.playlist>.audioList>li{
	padding: 4px;
}

.playlist>.audioList>li>a{
	text-decoration: none;
	color: white;
}